<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" verbose="1">

    <listeners>
        <listener class-name="com.saucedemo.base.TestListener" />
    </listeners>

    <test name="Regression Tests">
        <classes>
            <class name="com.saucedemo.tests.LoginSmokeTest" />
            <class name="com.saucedemo.tests.LoginTest" />
            <class name="com.saucedemo.tests.EndToEndPurchaseTest" />
        </classes>
    </test>

</suite>